[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/skywalker0507
[access "refs/for/refs/*"]
	read = group user/skywalker0507
	push = group user/skywalker0507
	label-Code-Review = -2..+2 group user/skywalker0507
	label-Verified = -1..+1 group user/skywalker0507
	rebase = group user/skywalker0507
	removeReviewer = group user/skywalker0507
	submit = group user/skywalker0507
[access "refs/heads/*"]
	read = group user/skywalker0507
	create = group user/skywalker0507
	push = +force group user/skywalker0507
	pushMerge = group user/skywalker0507
[access "refs/tags/*"]
	push = group user/skywalker0507
	push = +force group user/skywalker0507
